*, *::after,*::before{
  margin: 0;
  padding: 0;
}

html{
  background-color: rgb(117, 21, 21);
  justify-content: center;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#board{
  padding-top: 10vmin;
  width: 70vmin;
  height: 60vmin;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(6,1fr);
}

.cell{
  position: relative;
  display: flex;
}

.cell::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 60% , rgba(0, 136, 255, 0.767) 60%);
  z-index: 1;
}

.piece{
  border-radius: 50%;
  flex-grow: 1;
}

.piece[data-player="1"]{
  background-color: red;
}

.piece[data-player="2"]{
  background-color: yellow;
}

.piece[data-placed="false"]{
  transform: translateY(-10vmin);
}

/*MODAL*/

#modal-container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0 , 0 , 0, 0.5);
  padding-top: 15vh;
}

#modal-content{
  position: relative;
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;  
  width: 80vw;
  margin: auto;
  padding: 2.5vmin;
  background-color: rgba(222,222,222 , 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  animation-name: animatetop;
  animation-duration: 0.3s;
}

@keyframes animatetop {
  from {top:-30vmin; opacity:0}
  to {top:0; opacity:1}
}

#modal-content h2{
  font-size: 80px;
}

#modal-message[data-winner="1"] {
  color: rgb(255, 0, 132);
}

#modal-message[data-winner="2"] {
  color: rgb(242, 255, 0);
}

#modal-message{
  font-size: 5vmin;
  margin: 2.5vmin;
}

#reset{
  color: darkblue;
  font-size: 4vmin;
  margin: 2.5vmin;
  padding: 2.5vmin;
  background-color: rgba(11, 167, 167, 0.503);
  font-weight: bold;
}